<div class="exercise-container">
    <div class="box">
        <h3 class="title is-5">Exercício</h3>
        <div class="content">
            <p id="exerciseQuestion"></p>
            <div class="field">
                <div class="control">
                    <div class="sql-editor exercise-editor" contenteditable="true"></div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" id="submitAnswer">Verificar</button>
                </div>
                <div class="control">
                    <button class="button is-info" id="showSolution">Ver Solução</button>
                </div>
            </div>
            <div id="exerciseFeedback" class="notification is-hidden"></div>
        </div>
    </div>
</div> 