<div class="sql-runner-container">
    <div class="field">
        <label class="label">SQL Editor</label>
        <div class="control">
            <div class="sql-editor" contenteditable="true" data-placeholder="Digite seu comando SQL aqui"></div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" id="runSqlButton">
                <span class="icon">
                    <i class="fas fa-play"></i>
                </span>
                <span>Executar</span>
            </button>
        </div>
    </div>
    <div id="sqlResult" class="sql-result"></div>
</div> 